@use "../../assets/styles/global/global" as *;

.textLink {
  font-size: var(--defaultFs);
  font-weight: 500;
  @include defaultTransition;
  position: relative;

  &:hover {
    color: var(--defaultColor);
    cursor: pointer;
  }

  .sine {
    position: absolute;
    top: 3px;
    right: -25px;
    font-size: .9rem;
    color: $primaryColor;
  }
}